* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 16px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem  = 9, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem  = 8, 9/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem  = 12, 9/16 = 50%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0; // 1rem  = 8, 9/16 = 50%
  }
}
